:root {
  --background-clr: #f7f7f9;
  --white-clr: #fff;
  --border-clr: #ddd;
  --black-clr: #000;
  --blue-clr: #0500ff;
  --yellow-clr: ##ffe200;
  --red-clr: #ff2d55;
  --black-light-clr: #c1c1c1;
  --main-orange-clr: #ff8000;
}

* {
  padding: 0;
  margin: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-size: 62.5%;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.6rem;
  line-height: 1.5;
  background-color: var(--background-clr);
}
